<p>
  <script
      type="text/javascript"
      async defer
      src="//assets.pinterest.com/js/pinit.js"
  ></script>
</p>

<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <center>
      <%= image_tag 'logo2.png', height: '250', width: '300' %>
    </center>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
    <div class="col-xs-10 col-sm-8">
      <h1>About</h1>

      What started as a way to keep our wedding costs down, but with a creative touch
      has turned into a labor of love. We've created edpdx.com as a way to continue
      a hobby that needed to be shared with others. All products are handmade in Portland,
      Oregon. Thank you for visiting our site.
      <br><br>
      Have a special request? Contact us at support@edpdx.com to see what we can do.
      <p>

      </p>
      <a href="https://www.pinterest.com/<your-profile-here>/"
   data-pin-do="buttonFollow">
   Follow us on Pinterest
</a>
    </div>
    <div class="col-xs-1 col-md-2">
    </div>
  </div>
