<p>
  <script
      type="text/javascript"
      async defer
      src="//assets.pinterest.com/js/pinit.js"
  ></script>
</p>

<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <center>
      <%= image_tag 'logo2.png', height: '250', width: '300' %>
    </center>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
    <div class="col-xs-10 col-sm-8">
      <h1>Project Tutorials</h1>

      <ul>
        <li>
          <%= link_to 'Repurposed Succulent Display', succulent_path %>
        </li>
      </ul>

      <br><br>
      Have a special request? Contact us at support@edpdx.com to see what we can do.
      <p>

      </p>
      <a href="https://www.pinterest.com/edpdx/"
   data-pin-do="buttonFollow">
   Follow us on Pinterest
</a>
    </div>
    <div class="col-xs-1 col-md-2">
    </div>
  </div>
