<p>
  <script
      type="text/javascript"
      async defer
      src="//assets.pinterest.com/js/pinit.js"
  ></script>
</p>

<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
    <div class="col-xs-10 col-sm-8">
      <h1>Succulent Holder</h1>
      <img src="https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/142/large/IMG_7931_Fotor.jpg?1458699914">
      <p>

      </p>
      This step by step tutorial will walk you through the process of creating a repurposed succulent display.
      Upon finishing, you'll have a great way to show off a miniture succulent garden on your desk or
      windowsill.

      We'll add a step or two each day until the tutorial is complete. Follow us on
      <a href='https://twitter.com/edpdx_goods'>Twitter</a> to see when updates have been added.

      <br><br>
      <h3>Tools & Supplies Needed</h3>

      <ul>
        <li>Empty Beer Bottle (12 oz) - I use the taller style bottle.</li>
        <li>Kinkajou Bottle Cutter</li>
        <li>Sandpaper</li>
        <li>Tape measure</li>
        <li>Miter Saw</li>
        <li>Drill Press</li>
        <li>2 1/2 inch Forstner drill bit</li>
        <li>Minwax Stain</li>
        <li>Minwax Polycrylic</li>
        <li>Router</li>
        <li>1/2 inch roundover router bit</li>
        <li>4 x 4 beam</li>
        <li>Succulent</li>
      </ul>

      <p></p>
<!--
      <h3>Planning</h3>

      To start, you'll want to determine how tall you'd like your succulent planter to be.
      I chose 3 1/2 inches. Since a 4 x 4 beam is actually 3 1/2 x 3 1/2, this will create
      a perfect cube shape. The height of the planter will ultimately determine how much
      of the bottle gets cut off, so it's important to get this out of the way first.

      <p></p>

      Once you've determined the height, take your tape measure and

-->

      Have an idea for a custom project? Contact us at support@edpdx.com to see what we can do.<p>

      <a href="https://www.pinterest.com/edpdx" data-pin-do="buttonFollow">
        Follow us on Pinterest
      </a>
    </div>
    <div class="col-xs-1 col-md-2">
    </div>
  </div>
