<p>
  <script
      type="text/javascript"
      async defer
      src="//assets.pinterest.com/js/pinit.js"
  ></script>
</p>

<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
    <div class="col-xs-10 col-sm-8">
      <h1>Succulent Holder</h1>
      <img src="https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/142/large/IMG_7931_Fotor.jpg?1458699914">
      <p>

      </p>
      This step by step tutorial will walk you through the process of creating a repurposed succulent display.
      Upon finishing, you'll have a great way to show off a miniture succulent garden on your desk or
      windowsill.

      We'll add a step or two each day until the tutorial is complete. Follow us on
      <a href='https://twitter.com/edpdx_goods'>Twitter</a> to see when updates have been added.

      <br><br>
      <h3>Tools & Supplies Needed</h3>

      <ul>
        <li>Empty Beer Bottle (12 oz) - I use the taller style bottle.</li>
        <li>Kinkajou Bottle Cutter</li>
        <li>Sandpaper (60, 100, 150, and 220 grit)</li>
        <li>Tape measure</li>
        <li>Miter Saw</li>
        <li>Drill Press</li>
        <li>2 1/2 inch Forstner drill bit</li>
        <li>Minwax Stain</li>
        <li>Minwax Polycrylic</li>
        <li>Router</li>
        <li>1/2 inch roundover router bit</li>
        <li>4 x 4 beam</li>
        <li>Succulent</li>
      </ul>

      <p></p>

      <h3>Planning</h3>

      To start, you'll want to determine how tall you'd like your succulent planter to be.
      I chose 3 1/2 inches. Since a 4 x 4 beam is actually 3 1/2 x 3 1/2, this will create
      a perfect cube shape. The height of the planter will ultimately determine how much
      of the bottle gets cut off, so it's important to get this out of the way first. For
      this tutorial, I'll be making a 3 1/2 inch high display, but feel free to modify
      the size as you please.
      <br><br>
      Next, you'll need to consult the list of tools and supplies to determine what you
      need to complete the project. The majority of these items can be found at your local
      home improvement store, but a few will need to be purchased elsewhere. The Forstner
      bit is a speciality size, and can be found at a specialty woodworking store or on Amazon.
      The Kinkajou bottle cutter can be <a href='http://www.bottlecutting.com/'></a>purchased
      through the manufaturer's website, or at some craft stores.

      <p></p>

      <h3>Cutting the board</h3>

      Once you've determined the height of the display, it's time to cut that portion off
      your 4 x 4 beam. Take your tape measure and measure 3 1/2 inches up the beam and mark
      that location on the board. Next, use the triangle to draw a straight line across the
      board. Finally, take your miter saw and cut along the line you drew. Depending on the
      size of your blade you may need to rotate the board and make a second cut, or use
      a handsaw to cut off the remaining portion. I typically use a handsaw, as I find it
      makes a more accurate cut. After making the cut you should have a 3 1/2 inch cube.

      <p></p>

      <h3>Cutting the bottle</h3>

      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/139/medium/IMG_0350.JPG?1458186601'>

      <br><br>

      Now that the wood is cut it's time to cut the bottle. For this, I used a taller style
      12 ounce beer bottle. This type should fit perfectly inside a 2 1/2 inch hole. I'd
      suggest drilling a hole into a scrap piece of wood to confirm before you start the
      next steps.
      <br><br>
      Before starting, you may want to begin boiling a kettle of water so that it is ready
      for you once the cut has been completed. You'll also want to get a container of ice
      water ready as well.
      <br><br>
      To cut your bottle, insert it into the Kinkajou bottle cutter so that the cutting
      blade lines up with your desired bottle height. It should be at least an inch and
      a half tall, but no taller than one inch less than the height of your board. I
      cut the bottle so that it is two inches tall.
      <br><br>
      Once the bottle is oriented in the Kinkajou a the appropriate depth, secure it in
      place with the outside levers. You should be able to rotate the bottle fairly easily.
      Next, engage the cutter and make a full rotation of the bottle. I found that it
      took some practice to consistently rotate the bottle so that it creates a perfectly
      horizontal line.
      <br><br>
      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/147/large/IMG_0353.JPG?1459040968'>

      <br><br>
      Once the glass has been scored, take the included rubber dividers and place one on
      either end of the score line.
      <br><br>
      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/148/large/IMG_0354.JPG?1459040985'>
      <br><br>
      For safety, be sure to wear gloves and safety goggles to prevent injury.
      <br><br>
      Over the sink, slowly pour the boiling water between the two rubber dividers
      and onto the the score line to heat the glass. Next, slowly pour the ice water
      onto the score line to quickly cool the glass. Then, switch back to boiling water
      and continue alternating between the two temperatures until the glass breaks.
      <br><br>
      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/150/large/IMG_0358.JPG?1459041036'>
      <br><br>
      Ideally you'll end up with a perfectly clean cut, but sometimes there may be a
      jagged portion that remains. You can use the included tool to carefully pry the
      remaining piece off so that you are left with a perfectly flat cut. Be careful
      though! What remains is razor sharp glass that can easily cut your skin and cause
      injuries.
      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/151/large/IMG_0359.JPG?1459041053'>
      <br><br>

      <h3>Drilling the hole</h3>

      Once the wood has been cut, it's time to drill the hole that the bottle will sit inside.
      Take your triangle and draw a straight line between each opposing corner so that an 'X'
      is created on the top of the cube where the hole will be cut into. I chose to drill into
      the end grain (the side of the wood cut in the previous step).

      <br><br>

      <img src='https://edpdxprod.s3.amazonaws.com/photos/avatars/000/000/152/large/IMG_0371.JPG?1459041480'>

      <br><br>


<!--


      Once you've determined the height, take your tape measure and

-->

      Have an idea for a custom project? Contact us at support@edpdx.com to see what we can do.<p>
<br>
      <a href="https://www.pinterest.com/edpdx" data-pin-do="buttonFollow">
        Follow us on Pinterest
      </a>
    </div>
    <div class="col-xs-1 col-md-2">
    </div>
  </div>
